body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  position: fixed;      /*   ヘッダーを上部に固定 */
  top: 0;
  z-index: 10;
}

.clear {
  clear: both;
}

.logo {
  width:160px;
  padding:20px;
  padding-right: 0;
}

.header-right {
  float:right;
  width: 1;
  height: 50px;
  margin:0;
}

.header-nav {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.header-nav a{
  color: #000;
  font-size: 13px;
}

.nav-item {
  display: block;
  padding: 15px 12px;
}

.nav-item:hover {
  opacity:0.5;
}

.border {
  width: 1px;
  background-color: rgb(221, 221, 221);
  margin: 10px 0;
}



.cart i {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

.cart p {
  font-size: 13px;
  margin:0;
  text-align: center;
}

.header-nav .bi-cart3 {
  padding: 20px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.top-wrapper {
  margin-top: 80px;
}


.top-img {
  margin: 30 auto;
  width: 100%;
  text-align: center;
}

.top-img img {
  margin: 0 20px;
  max-height: 615px;
  /* background-size: cover; */
}

.introduce {
  margin: 80px auto 100px;
  text-align: center;
}

.text1 {
  line-height: 3em;
  letter-spacing: 3px;
}

.text2 {
  font-size: 12px;
  color: #aaa;
}

.features {
  margin: 60px 0;
}

/* 
.features .container {
  width: 1100px;
  margin:0 auto;
} */

.features section {
  display: flex;
  justify-content: space-between;
  margin:80px auto;
  width: 96%;
  align-items: center;
 
}

.features section:nth-child(even) {
  flex-direction: row-reverse;
}

.features h2 {
  /* margin: 80px 0 50px; */
  font-weight: normal;
  font-size: 30px;
}

.features p {
  margin: 0;
}

.pic {
  width: 50%;
}

.info {
  width: calc(50% - 60px);
}

.features img {
  width: 100%;
}

.features p {
  line-height: 2;
  letter-spacing: 2px;
}

.more {
  display: block;
  width: 230px;
  margin-top: 30px;
  padding: 24px 0;
  text-decoration: none;
  background-color: rgb(28, 0, 65);
  color: #fff;
  text-align: center;
}

.more:hover {
  opacity: 0.9;
}

.lineup {
    background-color: rgb(241, 241, 241);
    padding-bottom: 100px;
}


.lineup section {
  height: 400px;
  min-width: 1000px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin:70px auto 0px;
  width: 96%;
  align-items: center;
}


.lineup section:nth-child(even) {
  flex-direction: row-reverse;
}

.heading {
  text-align: center;
  padding: 100px 0 50px;
}

.heading h1 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
}

.heading p {
  font-size: 12px;
  letter-spacing: 4px;
  margin: 0;
}

.item-pic {
  width: 50%;
}

.item-info {
  width: calc(50% - 60px);
  padding: 0 80px;

}

.item-info h2 {
  font-weight: normal;
}

.lineup img {
  width: 180px;
  margin: 0 30%;
}


/* NEWS */

.news-wrapper {
  width: 96%;
  margin:0px auto;
}

.news-wrapper section {
  float:left;
  margin:0 10px;
  width: 30%;
}

.news-item img {
  width: 100%;
  border: solid 1px rgb(223, 223, 223);
}



.news-item h3 {
  font-size: 14px;
  font-weight: normal;
  color: rgb(20, 20, 20);
}

.news-item p {
  color: #999;
}

/* クラス内でhover効果を要素ごとに設定 */

.news-item:hover img { 
  opacity:0.8;  
  transition: all 0.3s;
}
.news-item:hover h3 { 
  color: rgb(179, 179, 179);
  transition: all 0.3s;
}


/* insta */

.insta-items {
  margin-bottom: 120px;
}


.insta-items table {
  max-width: 960px;
  margin: 0px auto;
}

.insta-items img {
  width: 92%;        /*   テーブルの余白を均等に */
  margin:10px;
}


/* sns　横並びにして余白を均等に配置　*/


.sns-items {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 0 auto 50px;
  max-width: 900px;
}


.sns-items a {
  display: block;
  color: #222;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
}

.sns-item .bi {
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  color: rgb(36, 36, 36);
  width: 60px;
  height: 60px;
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  margin-right: 30px;
}

.sns-items .border {
  margin: 20px 0;
}

.sns-items a:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.sns-items-icon {
  display: none;
}

/* フッターnav 横並び */

.footer-nav {
  background-color: rgb(231, 231, 231);
  padding:30px 80px;
  margin:0 auto;
  text-align: center;
}

.footer-nav li {
  list-style: none;
  line-height: 2.5;
  display: inline-block;
  padding: 0 20px;
}

.footer-nav a {
  color: rgb(0, 0, 0);
  font-size: 13px;
}

.footer-nav a:hover {
  opacity: 0.3;
  transition: all 0.3s;
}

/* 最大の横幅を固定して中央揃え */

.nav-container {
  max-width: 900px;
  margin: 0 auto;
}

.footer-logo {
  text-align: center;
  margin:45px auto 50px;
}

.footer-logo img {
  width: 145px;
  margin-bottom: 15px;
}

.footer-logo p {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

 
/* ハンバーガーメニュー */

.sp-menu {
  display: none;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
  margin-right: 16px;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255,0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1){
  transition-delay: .1s;
}
.overlay.show li:nth-child(2){
  transition-delay: .2s;
}
.overlay.show li:nth-child(3){
  transition-delay: .3s;
}
.overlay.show li:nth-child(4){
  transition-delay: .4s;
}
.overlay.show li:nth-child(5){
  transition-delay: .5s;
}
.overlay.show li:nth-child(6){
  transition-delay: .6s;
}
.overlay.show li:nth-child(7){
  transition-delay: .7s;
}


@media (max-width: 1000px){

  .top-img {
    margin: 30 auto;
    width: 100%;
  }

  .top-img img {
    width: 100%;
  }

  .sp-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu {
    margin-left: auto;
  }

  .pc-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .pc-menu a {
    display: block;
    width: 100%;
    line-height: 64px;
    text-align: center;
  }

  .pc-menu a:hover {
    background: #f3f3f3;
  }

  .header-nav {
    display: none;
  }

}

@media (max-width:800px) {


  header {
    position: absolute;
  }


  
  
  .lineup .container {
    width: 96%;
  }

  .lineup img,
  .lineup h2,
  .lineup a {
    display: block;
    margin: 0 auto;
  }

  .lineup {
    background-color: rgb(241, 241, 241);
    padding-bottom: 100px;
}

  .top-img img {
    width: 100%;
  }

  .sp-menu {
    display: block;
    position: fixed;
    top: 0;
    right:0;
    z-index: 10;
  }



  .features section, 
  .news-wrapper section {
    display: unset;
    width: 90%;
    margin: 30px auto;
  }

  .pic,
  .info {
    width: 550px;
    margin: 40px 20px;
  }

  .items section {
    background-color: rgb(255, 255, 255);
    display: block;
    width: 90%;
    margin: 30px 0px; 
    padding: 50px;
  }

  .item-pic {
    margin: 0 auto;
  }
  .item-pic img {
    width: 100px;
    padding:0;
  }

  .item-info {
    text-align: center;
    font-size: 12px;
  }

  .insta-items {
    width: 96%;
    margin: 0 auto;
  }

  .sns-items-icon {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 40px;
  }

  .sns-items {
    display: none;
  }


  .icon-container {
    background-color: #f3f3f3;
  }

  .sns-items-icon .bi {
    background-color: #fff;
  }

  .sns-items-icon p {
    display: none;
  }
  .footer-nav {
    display: none;
  }

}